ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 32em);
    row-gap: 1em;
    padding: 0;
}

.hotel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em 0;
    margin: 0 0.5em;
    justify-self: center;
    border-radius: 10px;
}

.hotel-container img {
    height: 18em;
    width: 18em;
    object-fit: cover;
    cursor: pointer;
    border-radius: 10px;
}

.border-style {
    border: 1px solid whitesmoke;
    box-shadow: 5px 5px 10px rgb(192, 192, 192);
}

.hotel-controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hotel-controls div {
    padding-top: 0.5em;
    margin: 0 0.5em;
}

.hotel-name {
    font-size: 18px;
    width: 90%;
    text-align: center;
}

.hotel-image:hover{
    opacity: 0.9;
    height: 18.1em;
    width: 18.1em;
}