nav {
    padding: 1.2em;
    background-color: darkorange;
    position: sticky;
    top: 0;
    z-index: 1;
}

.add-button a {
    text-decoration: none;
    color: white;
    font-size: larger;
}

.back-button {
    background-color: #ff8c00;
    border: none;
}

.back-button img {
    width: 30px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
}

.nav-container h1 {
    font-size: 2em;
    color: whitesmoke;
}

